<%- include("./includes/header") %>
<%- include("./includes/navbar") %>

<div class="container">

    <div class="col-lg-2">  </div>

    <div class="col-lg-12 pt-5"> 
      <h1 class="display-1 text-center"> ERROR 403 </h1>
      <p class="text-center lead"> Você não tem permissão para acessar a página </p>
      <p class="text-center lead"> <a href="/">Voltar para a página inicial</a></p>
    </div>

    <div class="col-lg-2"> </div>

</div>

<%- include("./includes/footer") %>